
/* Browser reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* Loader */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 94px);
}

.loader .loading-image {
  display: block;
  margin: 0 auto;
}

.loader .loading-text {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 16px;
  opacity: .7;
}

/* form */

.search-form {
  display: flex;
}

.search-input {
  background: #61dafb26;
  height: 40px;
  border: 1px solid #61dafb;
  min-width: 350px;
  border-radius: 40px;
  text-indent: 20px;
  color: #0d95ab;
}

.search-submit {
  margin-left: -45px;
  background: url("../images/search.png") no-repeat;
  background-position: center;
  border-radius: 0 40px 40px 0;
  width: 40px;
  border: none;
  border-left: none;
  font-size: 0;
  cursor: pointer;
}


/* Header */

.header {
  width: 100%;
  height: 80px;
  background: #1d1d1d;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px -5px #151515;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 4%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}


/* Footer */

.footer {
  height: 34px;
  background-color: #1d1d1d;
}

.footer--container {
  padding: 10px 4%;
}

.footer-text {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  letter-spacing: .5px;
}


/* Main */

.main {
  margin-top: 80px; /* used to clear fixed header */
  min-height: calc(100vh - 94px);
  background: #151515;
}

#news {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 20px;
  max-width: 92%;
  padding: 60px 0;
  margin: 0px auto;
}

#news.loading {
  display: block;
}

.article {
  background: #1d1d1d;
  border-radius: 4px;
  border: 1px solid #222222;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.article:hover {
  transform: scale(1.025);
}

.article .picture {
  height: 220px;
  position: relative;
  overflow: hidden;
}

.article .picture::after {
  content: "";
  display: block;
  width: 100%;
  height: 45px;
  left: 0;
  bottom: 0;
  background: linear-gradient(#0000, 65%, #1d1d1d);
  z-index: 99;
  position: absolute;
}

.article .picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: .65;
}

.article .picture .source {
  display: inline-block;
  background: #61dafb;
  opacity: 1;
  z-index: 999;
  position: relative;
  color: #1d1d1d;
  padding: 7px 7px;
  top: 5px;
  left: 5px;
  font-size: 10px;
  border-radius: 3px;
  font-weight: 700;
}

.article .info {
  padding: 0 20px;
}

.article .info .title {
  height: 78px;
  margin: 25px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .info .title h2 {
  height: 78px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .info .title p {
  font-size: 14px;
  font-weight: 100;
}

.article .info .text {
  height: 60px;
  margin-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .info .text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

.article .info .buttons {
  margin-bottom: 20px;
}

.article .info .buttons .button {
  display: inline-block;
  background: #61dafb26;
  color: #61dafb;
  padding: 10px 16px;
  border-radius: 44px;
  font-size: 12px;
  border: 1px solid #61dafb;
}